{% extends 'layout.html.twig' %}

{% block tittle %}Produits | {{ parent() }}{% endblock %}

{% block content %}
	<div class="row">
		{{ block("brands", "blocks/brands.html.twig") }}

		<div class="col-md-9">
			<p class="lead">Nos produits {{ activeBrand is defined ? activeBrand.name : "\"Toute les marques\"" }}</p>
			<div class="row text-center">
				{% if products|length != 0 %}
					{% for key,product in products %}
						{{ block("productList", "blocks/product.html.twig") }}
					{% endfor %}
				{% else %}
					<p>Aucun produit</p>
				{% endif %}
			</div>

			<div class="row text-center">
				<nav>
					<ul class="pagination pagination-lg">
						<li>
							<a href="#" aria-label="Précédent">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">3</a>
						</li>
						<li>
							<a href="#">4</a>
						</li>
						<li>
							<a href="#">5</a>
						</li>
						<li>
							<a href="#" aria-label="Suivant">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<hr/>
{% endblock %}